html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

/* *********************************************************************************************************** */

/* FONTS */
/* 
    font-family: 'Catamaran', sans-serif;

    font-family: 'Kanit', sans-serif;

    font-family: 'Lato', sans-serif;

    font-family: 'Roboto', sans-serif;
*/

/* COLOURS */

:root {
  --scarlet: #BA0621;
  --lipstick: #CC1D36;
  --very-dark-brown: #0B0101;
  --wine-red: #6C0918;
}

/* GLOBAL  */

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.8rem;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    display: block;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    width: 90%;
}

/* ------------------------ HEADER -------------------------- */

.header {
    background-image: url(./assets/image-1@2x.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: white;
    position: relative;
}

/* This is a nav which holds two unordered lists: nav-title and nav-page */
.header__top-nav {
    
}

/* Unordered list holding the navigation title on the left  */
.header__nav-title {
    font-family: 'Kanit', sans-serif;
    font-size: 2rem;
    line-height: 29px;
    float: left;
    width: 60%;
}

.header__list--title {
    text-transform: uppercase;
    padding: 20px;
}

/* Unordered List holding the page links */
.header__nav-page {
    float: left;
    width: 40%;
}

/* (Tried to make this a width of 25%, but was having lots of issues with getting equal spacing.) */
/* List items within nav-page */
.header__list--page {
    float: left;
    
}

.header__list--hamburger {
    display: none;
}

/* Anchor tags within list items */
.header__link {
    color: white;
    font-family: 'Catamaran', sans-serif;
    font-weight: 600;
    line-height: 29px;
    display: inline-block;
    padding: 20px;
    text-transform: uppercase;
}

.header__link:hover,
.header__link:focus,
.header__icon:hover,
.header__icon:focus {
    opacity: 0.5;
}

/* Heading  */

.header__heading-container {
    position: absolute;
    bottom: 10%;
}

.header__heading {
    font-family: 'Kanit', sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 11.62rem;
    color: var(--lipstick);
    line-height: 97px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.header__subheading {
    font-family: 'Lato', sans-serif;
    line-height: 31.6px;
    letter-spacing: 0.3px;
    text-transform: lowercase;
}


/* Social Media Nav  */

.header__side-nav {
    position: absolute;
    bottom: 8%;
    right: 2%;
}

.header__link--icon {
    color: white;
    display: inline-block;
    padding: 6px;
}



/* -------------- BLOG ----------------------- */


/* Blog Heading  */
.blog__heading {
    font-family: 'Kanit', sans-serif;
    font-size: 4.2rem;
    font-weight: bold;
    font-style: italic;
    line-height: 43px;
    text-transform: uppercase;
}

.blog__heading--top {
    margin: 50px 0;
    text-align: center;
}

.blog__list {
    float: left;
    width: calc((100% / 3) - 15px);
}

.blog__list:nth-child(1) {
    margin-right: 15px;
}

.blog__list:nth-child(2) {
    margin: 0 7.5px;
}

.blog__list:nth-child(3) {
    margin-left: 15px;
}

/* Blog Articles  */

.blog__para {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.blog__button {
    font-family: 'Kanit', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    font-style: italic;
    line-height: 29px;
    color: white;
    background: var(--scarlet);
    padding: 5px 15px;
    border: none;
    text-transform: uppercase;
}

.blog__button:hover,
.blog__button:focus {
    background: var(--wine-red);
}

/* Article One  */

.blog__article-one {
    margin: 80px 0 0 0;
    position: relative;
    /* overflow: hidden; */
}

.blog__img-container--one {
    float: left;
    width: 25%;
}

.blog__text-container--one {
    float: right;
    width: 75%;
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
}

.blog__text-subcontainer--one {
    padding: 0 0 0 30px;
}


.blog__para--one {
    line-height: 25px;
    margin: 10px 0 60px 0;
}

.blog__button--one {

}

/* https://stackoverflow.com/questions/4804581/css-expand-float-child-div-height-to-parents-height */

/* Article Two  */

.blog__article-two {
    margin: 100px 0 0 0;
    position: relative;
    overflow: hidden;
}


.blog__text-container--two {
    float: left;
    width: 50%;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    /* padding: 120px 30px 0 170px; */

}

.blog__text-subcontainer--two {
    padding: 60px;
}

.blog__para--two {
    padding: 10px 30px 10px 0;
    line-height: 25px;
}

.blog__img-container--two {
    float: right;
    width: 50%;
}

/* Article Three  */

.blog__article-three {
    position: relative;
    overflow: hidden;
}

.blog__img-container--three {
    float: left;
    width: 50%;
}

.blog__text-container--three {
    float: right;
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    /* padding: 115px 150px 0 90px; */
}

.blog__text-subcontainer--three {
    padding: 60px;
}

.blog__para--three {
    padding: 10px 0;
    line-height: 25px;
}



/* --------------- MAIN NAV -------------------------- */

.main-nav {
    background-image: url(./assets/oscar-aguilar-327500-unsplash@2x.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.main-nav__list-container {
    /* padding: 120px 0 0 0; */
}

.main-nav__list {
    float: left;
    width: 33%;
    text-align: center;
    padding: 90px 0;
}

.main-nav__icon {
    color: var(--scarlet);
    display: block;
    font-size: 4rem;
    margin: 0 0 10px 0;
}

.main-nav__link {
    font-family: 'Kanit', sans-serif;
    font-size: 2rem;
    text-transform: uppercase;
    line-height: 29px;
    color: white;  
    display: block;
}

.main-nav__link:hover,
.main-nav__link:focus {
    opacity: 0.5;
}



/* ---------- FOOTER ---------------  */
.footer {
    font-family: 'Roboto', sans-serif;
    font-size: 1.8rem;
    color: white;
    line-height: 29px;
    background-color: var(--wine-red);
}

.footer__info {
    height: 250px;
}

.footer__heading {
    font-family: 'Kanit', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    font-style: italic;
    line-height: 29px;
    text-transform: uppercase;
}

.footer__list {
    float: left;
    margin: 45px 0 0 0;
    /* width: 30%; */
}

.footer__list--email {
    width: 60%;
}

.footer__para--email {
    margin: 5px 0;
}

.footer__input--email {
    padding: 8px 270px 8px 8px;
    margin-right: -4px;
    border: none;
}

.footer__button--email {
    padding: 8px 20px;
    border: none;
    background: var(--very-dark-brown);
    color: white;
    font-family: 'Kanit', sans-serif;
    text-transform: uppercase;
}

.footer__button--email:hover,
.footer__button--email:focus {
    background: var(--lipstick);
}

.footer__list--contact {
    width: 30%;
}

.footer__heading--contact {
    margin: 0 0 5px 0;
}

.footer__para--contact {
    line-height: 25px;
}

.footer__list--nav {
    text-align: right;
    width: 10%;
}

.footer__link {
    font-family: 'Kanit', sans-serif;
    font-size: 2rem;
    color: white;
    font-weight: bold;
    font-style: italic;
    line-height: 29px;
}

.footer__link:hover,
.footer__link:focus {
    opacity: 0.5;
}

.copyright__container {
    background: var(--very-dark-brown);
    height: 6vh;
    text-align: center;
    position: relative;
}

.copyright__para {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

@media (max-width: 1350px) {
    /* Blog */

    .blog__para {
        font-size: 1.6rem;
    }

    .blog__button {
        font-size: 1.8rem;
    }

    .blog__para--one {
        margin-bottom: 0;
    }

    .blog__text-subcontainer--one {
        padding: 0 60px;
    }

    .blog__text-subcontainer--two,
    .blog__text-subcontainer--three {
        padding: 20px 10px 0 10px;
    }

}

@media (max-width: 1160px) {
    .blog__img-container--one {
        float: none;
        width: 60%;
        margin: 0 auto;
    }

    .blog__text-container--one {
        float: none;
        position: static;
        margin: 0 auto;
        width: 60%;
    }

    .blog__heading--one {
        margin: 20px 0;
    }

    .blog__text-subcontainer--one {
        padding: 0;
    }

    .blog__article-two {
        margin: 30px 0 0 0;
    }

    .blog__text-subcontainer--two,
    .blog__text-subcontainer--three {
        padding: 20px 10px 0 10px;
    }

    .blog__para {
        font-size: 1.8rem;
    }

    .blog__button--one {
        margin: 20px 0 0 0;
        padding: 15px 30px;
    }

    .blog__button--two, 
    .blog__button--three {
        margin: 10px 0 50px 0;
    }
}

@media (max-width: 950px) {
    
    .header__heading {
        font-size: 8rem;
        line-height: 64px;
    }

    /* This wrapper has been inactive until this breakpoint */
    .blog__wrapper {
        max-width: 1200px;
        margin: 0 auto;
        width: 90%;
    }
    
    .blog__heading-container {
        margin: 20px 0 0 0;
    }

    .blog__heading {
        font-size: 3rem;
        line-height: 30px;
    }

    .blog__text-container--two, 
    .blog__text-container--three,
    .blog__img-container--two,
    .blog__img-container--three {
        float: none;
        width: 60%;
        margin: 0 auto;
    }

    .blog__text-container--two, 
    .blog__text-container--three {
        position: static;
        text-align: center;
    }
    
    .footer__input--email {
        padding: 8px;
    }

    .footer__contact-info {
        display: block;
    }
}

@media (max-width: 650px) {

    .header__nav-title {
        width: 30%;
    }

    .header__nav-page {
        width: 70%;
    }

    .header__link {
        font-size: 1.8rem;
    }

    .header__heading {
        font-size: 6rem;
        line-height: 50px;
    }

    .blog__heading--top {
        margin: 35px;
    }

    .blog__list:nth-child(1),
    .blog__list:nth-child(2) {
        width: calc(50% - 15px);
    }

    .blog__list:nth-child(2) {
        margin: 0 0 0 15px;
    }

    .blog__list:nth-child(3) {
        display: none;
    }

    /* Blog - Article One  */
    .blog__img-container--one, 
    .blog__text-container--one {
        width: 100%;
    }

    
    
    /* Blog - Article Two & Three  */
    .blog__text-container--two, 
    .blog__text-container--three,
    .blog__img-container--two,
    .blog__img-container--three {
        width: 100%;
    }

    /* Footer  */

    .footer__info {
        height: auto;
    }

    .footer__list {
        margin: 0;
    }

    .footer__list--email {
        width: 100%;
        text-align: center;
        padding: 50px 0 0 0;
    }

    .footer__input--email,
    .footer__button--email {
        display: block;
        width: 100%;
        padding: 12px 0;
    }

    .footer__input--email {
        text-align: center;
        margin: 0 0 10px 0;
        font-size: 1.6rem;
    }


    .footer__list--contact,
    .footer__list--nav {
        width: 50%;
        padding: 30px 0 30px 0;
    }

    .footer__para {
        font-size: 1.4rem;
        line-height: 20px;
    }

    .footer__para--email {
        padding: 10px 0;
    }

    .copyright__para {
        font-size: 1.6rem;
    }

}

@media (max-width: 500px) {
    .header__nav-title,
    .header__nav-page,
    .header__nav-icons {
        display: none;
    }

    .header__nav-page {
        text-align: right;
    }

    .header__list--hamburger {
        display: block;
        text-align: right;
    }

    .header__hamburger {
        font-size: 3rem;
        padding: 10px;
    }

    .header__heading {
        font-size: 4rem;
        line-height: 36px;
    }

    .header__subheading {
        font-size: 1.6rem;
    }

    .blog__heading {
        font-size: 2.6rem;
    }

    .blog__heading--top {
        margin: 30px 0;
    }

    .blog__wrapper {
        width: 100%;
    }
    
    .main-nav {
        height: auto;
    }

    .main-nav__list-container {
        padding: 0;
    }

    .main-nav__list {
        float: none;
        width: auto;
        padding: 15px 0;
    }
}

@media (max-width: 330px) {
    
    
    /* The following is to crop to the images in Blog 2 and 3.  I'm able to get the effect in responsive-design mode (in firefox), but below 330px in desktop, it doesn't seem to respond.    */

    .blog__img--two,
    .blog__img--three {
        display: none;
    }

    .blog__img-container--two,
    .blog__img-container--three {
        background-repeat: no-repeat;
        background-size: cover;
    }

    .blog__img-container--two {
        background-image: url(./assets/image-2@2x.png);
        height: 210px;
        margin: -40px 0 0 0;
    }

    .blog__img-container--three {
        background-image: url(./assets/image-2-copy@2x.png);
        height: 205px;
        margin: -65px 0 0 0;
    }
}